@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root{
    --sg-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}



.body{
    font-family: 'Satisfy', cursive;
font-family: 'Yellowtail', cursive;
}

/* button */
.bg-primary{
    background-color: var(--pink)!important;
}
.shop{
    font-family: 'Satisfy', cursive;
}
.colorchange{
	animation: colorchangeLE 1s infinite;
}



@keyframes colorchangeLE{
	0%{color: red;}
	25%{color: #eb0f9a;}
	50%{color: blue;}
	100%{color: #4f066e;}
}
.colorchangeoff{
	animation: colorchangeLE 1s infinite;
}



@keyframes colorchangeLE{
	
	25%{color: #6eade0;}
	50%{color: rgb(107, 206, 150);}
	100%{color: #c680e4;}
}
.icon{
    display: none;
}

.navbar{
    box-shadow: 0 3px 9px 3px rgba(248, 86, 175, 0.947);
}
.btn:not(.nav-btns button){
    background-color: #fff;
    color:rgb(85, 85, 85);
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}
.text-primary{
    color: var(--pink)!important;
}

.navbar-brand img{
    width: 60px;
   
}

.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink)!important;
}
.nav-item{
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.05);
}
#header{
    background: url("./img/b.jpg") top/cover ;
    
} 
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item.btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: var(--pink)!important;
}
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height:50px;
    background-color: var(--pink);
    left: -20px;
    top:50%;
    transform: translate(-50%);
}
/* collection */
.active-filter-btn{
    background-color: var(--pink)!important;
    color:beige!important;
    border-color:var(--pink)!important;
}
.click-btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 10px;
    left: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
/*special*/
.special-img span{
    top:20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    transition: :all 0.3s ease;
}
.special-img:hover img{
    transform: scale(1.2);
}
#offers{
    background:url(ri.avif) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}

.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    border-color: transparent!important;
}

#about{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px ;
}
#newsletter .btn{
    background-color: var(--pink);
    color:#fff;
    border-color:var(--pink);
}
#newsletter .btn:hover{
    background-color: #000;
    border-color: #000;
}
/*footer*/
footer.brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    transition: color 0.3s ease;
}
footer a:hover{
    color:var(--pink)!important;
}
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}